*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: "Poppins", sans-serif;
    width:100%;
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
}

/* Header Section */
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.logo img{
    border-radius: 10%;
    width: 85px;
    margin: 5px 10px;
    box-shadow: -5px 5px 10px rgb(60, 56, 56);
    background-color: #000;
    
}

.src-btn{
    position: relative;
}
.src-btn input{
    margin: auto;
    width:50vh; 
    height: 30px;
    border-radius: 20px;
    padding-left: 10px;
    border:none;
    border-bottom:2px solid;
}
.src-btn ,input,button{
    border:none;  
}
button{
    position: absolute;
    right:0px;
    background: rgba(0,0,255,0.2);
    margin: 5px;
    width:100px;
    height: 30px;
    border-radius: 20px;
}
/* .header .navbar{
    float: right;
} */
nav{
    display:flex;
    float: right;
    justify-content: center;
    text-align: right;
    position: relative;
    width: 100%;
    margin-right: 0px;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
    position: relative;
}
nav ul li a:hover::after{
    position: absolute;
    top:25px;
    left:50%;
    content: "";
    background: #151414;
    width: 40px;
    height: 3px;
    border-radius: 5px;
    transform: translateX(-50%);
}
a{
    text-decoration: none;
    color:#555;
}
nav img{
    transition: all 0.5s;
}
nav img:hover{
    transform: translateY(-5px);
}
.container .profile-icon{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;
    margin-right: 50px;
    transition: all 0.5s;
}
.container .profile-icon:hover{
    transform:translateY(-5px);
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.header .row{
    margin-top: 10px;
}
.col-8{
    flex-basis: 10%;
}

.col-8 img{
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid black;
    width: 135px;
    box-shadow: 0px 10px 10px gray;
}
.col-8 img:hover{
    border:3px solid#ff523b;
}
.col-8 h6{
    margin-top: 10px;
    text-align: center;
}
/* Main Section */
  .nav-icons{
    margin-top: 10px;
 }
 .nav-icons a{
    transition: all 0.5s;
 }
 .nav-icons a{
    transform: translateY(-15px);
 }

 /* .mySlides {
    display: none;
  } */
  .main-container{
    overflow: visible;
    z-index: -999999;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color:rgb(235, 229, 229);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .text {
    color:#000;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    
  }

  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;

  }

  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

.slideshow-container {
    max-width: 1560px;
    position: relative;
    margin-top: 35px;
    width: auto;
    overflow: visible;
   
  }
@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
    
  }


.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: all 0.5s;
}

.btn:hover{
    background: #563434;
}

.catagories{
    margin-top: 20px;
    
}

.small-container{
    background-color: #fff;
    max-width: 12800px;
    margin: 0;
    padding: 0 18px;
    
}
.col-3{
    flex-basis: 30%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 30px;
    
}
.col-3 img{
    width: 110%;
    box-shadow: 0px 10px 10px gray;
    transition: transform 0.5s;
}
.col-3 img:hover{
    transform: translateY(-5%);
}
.col-4{
    flex-basis: 18%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 10px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 40px;
    position: relative;
    line-height: 60px;
    color: #555;
    cursor: pointer;
    text-shadow: 0 3px 5px rgb(131, 128, 128);;

}
  .title:hover::after{

    position: absolute;
    top:50px;
    left:50%;
    content: "";
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    transform: translateX(-50%);
    
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
    font-weight: bold;
}
.col-4:hover{
    transform: translateY(-5px);
}
.rating .fa{
    color: #ff523b;
}
.offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin: 35px 85px;
    padding: 30px;
    box-shadow: 0px 10px 10px gray;
}
.offer img{
    height: 400px;
    padding: 25px;
    float:right;
}
.brands{
    margin: 5px auto;
    background-color: transparent;
    padding: 0;
    height: 65px;
}
.brands img{
    height: 65px;
}

/* Footer Section */
footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    margin: O;
}
footer p{
    color: #8a8a8a;
}
 .footer-col-2 img{
    border-radius: 10%;
    box-shadow: -5px 5px 10px rgb(60, 56, 56);
    background-color: #000; 
 }
footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
   
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
    
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
 
}
.footer-col-3,.footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul li{
    list-style-type: none;
}
.main-icon{
    width:28px;
    margin-left:20px;
    display:none;

}
.main-icon .user-icon{
    width: 20px;
  
}
.copyright{
    text-align: center;
}
/* profile submenu */
.profile-icon{
    width: 20px;
}
.profile-baricon{
    position: relative;
    width:20px;
}

 .headerlist{
    flex:1;
    flex-direction: column;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 40px 0px;
   
}
.sub-menu{
    width:600px;
    height: 170px;
   
    border-radius: 10px;
}
.list-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
   
}

  .header-btn{
   display: flex;
   justify-content: space-between;
   align-content: center;
   gap: 5px;

  }
  .profile-menu {
    position: absolute;
    top:30px;
    right: 0;
    display: none;
    z-index: 999999;
   background-color: rgba(255,255,255,0.9);
    border-radius: 10px;
    height: 250px;

}

.profile-baricon:hover .profile-menu {
    display: block;
 
}
